*{
    margin: 0;
    padding: 0;
}

html{
    line-height: 1.5rem;
}

body{
    font-family: Arial, sans-serif;
    
    background-image: url('img/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.mainbox{
    margin: 10px auto;
    border: 1px solid white;
    border-radius: 15px;
    height: 97vh;
    width: 99vw;
    display: grid;
    grid-template-columns: auto 1fr;
}




#sidebar{
    box-sizing: border-box;
    height: 95vh;
    width: 250px;
    margin: 10px 10px;
    padding: 5px 1.5em;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    position: sticky;
    top: 5px;
    align-self: start;
}

#sidebar ul{
    list-style: none;
}

#sidebar > ul > li:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
    margin-top: 1rem;
    
    img{
        width: 35px;
        height: 48px;
    }

    .logo{
        padding:  .85em;
        font-size: 20px;
    }
    
}

#sidebar ul li.active a{
    color: white;
    background-color: black;

    img{
        color: white;
    }
}

#sidebar a, #sidebar .logo{
    border-radius: .5em;
    padding: .85em 2.2em;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 1em;
}

#sidebar svg{
    flex-shrink: 0;
}

#sidebar a span{
    flex-grow: 1;
}


main{
    padding: min(30px, 7%);
    
}

main .mainheader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main .mainheader .search input {
    width: 60vw;
    height: 42px;
    border-radius: 50px;
    padding-left: 20px;
    border: none;
    background-color: #fff;
    display: flex;
    border: none;
    outline: none;
    font-size: 20px;
    
    
}



main .mainheader .acc {
    display: flex;
    gap: 20px;
}



main .Date{
    background-color: #fff;
    padding: 10px 40%;
    margin: 20px 0 30px 0;
    border-radius: 50px;
}

main .title{
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 10px;
}

main .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

main .buttons button{
    padding: 10px 20px;
}

main .buttons .addButton button{
    background-color: black;
    color: #fff;
    border-radius: 10px;
    border: none;
}

main .buttons .cateButton{
    display: flex;
    gap: 50px;
}

main .buttons .cateButton button{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50px;
}

main .buttons .cateButton .active{
    background-color: #fff;
}

main .displayRooms{
    height: 650px;
    background-color: #fff;
    border-radius:10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    
    
}

table thead th{
    font-weight: 100;
    font-size: small;
}

th, td {
    padding: 12px;
    text-align: left;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

td:last-child {
    padding: 12px 6px ; 
}

td {
    padding: 12px 110px 12px 10px; 
}

